<div>
	<h2 class="font-weight-light mb-4">
		Projekt - statystyka opisowa<br>
	</h2>
	<h5 class="font-weight-light">
		Analiza statystyczna lotnictwa polskiego w latach 2017-2019 pod względem popytu na polskich portach lotniczych
		oraz linii pasażerskich.
	</h5>
	<hr>
	<h5 class="font-weight-light">
		Przygotowała Karolina Grochal
	</h5>
	<p>
		nr albumu <strong>12253</strong><br>
		grupa <strong>cw3/1/IES</strong>
	</p>
	<a
		class="text-secondary"
		href="../../../assets/projekt-KarolinaGrochal.xlsx"
	>Pobierz plik XLSX z obliczeniami</a>
	<hr>
	<p>
		<span class="
		text-secondary">
			<- </span>
				Wybierz
				opcję
				z
				menu
				po
				lewej
				(kliknij
				w
				obrazek)
	</p>
</div>