<h1 class="font-weight-light mb-4">
	Projekt - statystyka opisowa<br>
</h1>
<h3 class="font-weight-light">
	Podsumowanie statystyczne lat 2017-2019 w ilości pasażerów ze względu na polskie lotniska oraz przewoźników.
</h3>
<hr>
<h4 class="font-weight-light">
	Przygotowała Karolina Grochal
</h4>
<p>
	nr albumu <strong>12253</strong><br>
	grupa <strong>cw3/1/IES</strong>
</p>
<a href="../../../assets/projekt-KarolinaGrochal.xlsx">Pobierz plik XLSX z obliczeniami</a>
<hr>
<p>
	Wybierz opcję z menu po lewej (kliknij w obrazek)
</p>