<table class="table table-striped table-sm">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Port lotniczy</th>
			<th scope="col">Liczba pasażerów 2017</th>
			<th scope="col">Liczba pasażerów 2018</th>
			<th scope="col">Liczba pasażerów 2019</th>
			<th scope="col">Liczba operacji pax 2017</th>
			<th scope="col">Liczba operacji pax 2018</th>
			<th scope="col">Liczba operacji pax 2019</th>
		</tr>
	</thead>
	<tbody>
		<tr
			*ngFor="let row of byAirportData; index as index"
			[ngClass]="{'bg-light text-dark': firstRowHighlight > 0 && index < firstRowHighlight && index !== 0,
			 'bg-secondary text-white': firstRowHighlight > 0 && index === 0}"
		>
			<td>
				{{ row.airport }}
			</td>
			<td>
				{{ row.lp2017 }}
			</td>
			<td>
				{{ row.lp2018 }}
			</td>
			<td>
				{{ row.lp2019 }}
			</td>
			<td>
				{{ row.lo2017 }}
			</td>
			<td>
				{{ row.lo2018 }}
			</td>
			<td>
				{{ row.lo2019 }}
			</td>
		</tr>
	</tbody>
</table>