.byAirport {
	width: 100%;

	.chart-table-box {
		width: 100%;
		position: relative;

		.switcher {
			width: 100%;
			height: 40px;
			display: flex;
			margin-bottom: 1rem;

			button {
				flex: 1 1;
			}
		}

		.content {
			width: 100%;
			height: 400px;
			overflow-y: auto;

			.chart {
				display: flex;

				.chart-chart {
					width: 70%;
				}
				.right {
					width: 30%;
				}
			}
		}
	}

	> .content {
		margin-top: 2rem;
	}
}
