<div class="byCarrier">
	<app-by-carrier-search
		(onSearch)="getCarrierOnTop($event)"
		[byCarrierData]="byCarrierData"
	></app-by-carrier-search>
	<div class="chart-table-box">
		<div class="switcher">
			<button
				class="btn mr-3"
				[ngClass]="{'btn-primary': activeTab === 0, 'btn-outline-primary': activeTab !== 0}"
				(click)="changeTab(0)"
			>Wykres</button>
			<button
				class="btn ml-3"
				[ngClass]="{'btn-primary': activeTab === 1, 'btn-outline-primary': activeTab !== 1}"
				(click)="changeTab(1)"
			>Tabela danych</button>
		</div>
		<div class="content">
			<div
				class="chart"
				*ngIf="activeTab === 0"
			>
				<app-by-carrier-chart
					[byCarrierData]="byCarrierData"
					class="chart-chart"
				></app-by-carrier-chart>
				<div
					class="right p-2"
					*ngIf="carrierOnTop"
				>
					<h4 class="text-center">
						{{ carrierOnTop }}
					</h4>
				</div>
			</div>
			<div
				class="table"
				*ngIf="activeTab === 1"
			>
				<app-by-carrier-table
					[byCarrierData]="byCarrierData"
					[firstRowHighlight]="carrierFiltered"
				></app-by-carrier-table>
			</div>
		</div>
	</div>
	<div class="content">
		<h2>
			Podsumowanie statystyczne - według przewoźnika
		</h2>
		<hr>
		<p>
			Przez lata 2018 - 2019 wszyscy przewoźnicy obsłużyli razem <strong>82 351 739</strong> operacji pax na
			terenie Polski.
		</p>
		<p>
			Średnio w Polsce na przewoźnika przypada <strong>1 647 035</strong> obsłużonych operacji pax.
		</p>
		<p>
			Przewoźnik Aegean Airlines posiada wariancje za rok 2018 o wartości
			<strong>3,008</strong> - oznacza to, że jego ilości operacji pax przez te dwa lata są do siebie
			bardzo podobne.
		</p>
		<p>
			Ryanair w roku 2018 miał średnio <strong>11 752 129 +/- 40,9 tys.
			</strong> operacji pax.
		</p>
		<p>
			Dla przewoźnika Lufthansa współczynnik zmienności 2017 wyniósł <strong>0,001%</strong> - oznacza to że
			ich ilośc
			pasażerów <strong>w ogóle się nie zmieniła</strong> przez następne lata i jest najpewniej identyczna jak w
			2017 roku.
		</p>
		<p>
			Rozstęp dla LOT Polish Airlines wyniósł aż <strong>1 290 553</strong> operacji a to oznacza w tym przypadku
			duży przyrost.
		</p>
	</div>
</div>